#ENV_FILES
config.php
configTest.php
debug.php
folders.php
npm-debug.log

lib/twitter-async/keyTwitter.php
.env
#PUBLIC_FOLDERS
public/img/ofertas/
public/img/hoteles-ficha/
public/img/cadenas-ficha/
public/img/usuarios-ficha/
public/less/npm-debug.log
public/npm-debug.log
!public/css/main.css
surveys/
#CACHE_FOLDERS
tmp
#NODE_MODULES
node_modules
#COMPOSER_MODULE
lib/composer/vendor
#IDE_SPECIFIC_FILES
_intellij_phpdebug_validator.php
.idea
_intellij_phpdebug_validator.php
#LOGS_FOLDER
logs/*
#SRC SETTINGS
.DS_Store
#VSCODE
.vscode/*

#Test Folders
/tests/e2e/reports/
/tests/e2e/videos/**
/tests/e2e/screenshots/**
selenium-debug.log
chromedriver.log
geckodriver.log
docs
