.hlChart{
	width:100%;
	margin:30px auto 0;
	height:254px;
	.highcharts-background{
		width:100% !important;
		height:100% !important;
	}
	.highcharts-title, .highcharts-grid, .highcharts-background{
		display:none;
	}
}
.w3{
	.hlChart{
		height:540px;
	}
}
.gaugesChart{
	margin:5% auto !important;
}
.numberChart{
	.centered-data{
		height:70% !important;
	}
}
.chartNumber{
	font-size: 14em !important;
	color:@azul;
	font-weight: lighter;
}
.chartNumberSmall{
	font-size: 5em !important;
	color:@azul;
	font-weight: lighter;
}
#googleMap{
	width:100%;
	height:95%;
	margin-top:30px;
	img{
		margin:0px;
	}
}