/*landings*/
@import "bootstrap/normalize.less";
@import "variables.less";
@import "landing-mixins.less";
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
       position:relative;
}
body{
	background: url(/public/img/landings/hotel-bg.jpg) no-repeat top center;
	color:#FFF;
	-webkit-text-stroke: 1px rgba(0,0,0,0.1);
	font-family: Open Sans;
	font-weight: 300;
	font-size: 14px;

}
.invite-section{
	text-align: center !important;
}
h1,h2,h3{
 	text-shadow:0px 2px rgba(0, 0, 0, 0.5);
}
p,span{
	 text-shadow:0px 1px rgba(0, 0, 0, 0.5);
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
h1,h2{
	font-weight: 300 !important;
}
strong{
	font-weight: 400 !important;
}
h1{
	font-size: 5em;
	line-height: 1em;
	margin: 50px 0 0;
}
h2{
	font-size: 2em;
}
a{
	text-decoration: none;
	color:@azul;
	&:hover{
		color:@azul - 40%;
	}
}
.btn{
	background: @azul;
	border:none;
	color:#FFF;
	padding:10px;
	.borderRadius(3px;);
	&:hover{
		background: @azul - 20%;
		color:#FFF;
	}
}
.btn-lg{
	font-size: 1.5em;
	padding:15px;
	font-weight: 700;
	img{
		vertical-align: middle;
		margin-top:-2px;
	}
}
.btn-invite{
	background: @azul;
}
header {
	background: #000;
	display:block;
	height:70px;
	width:100%;
	.btn{
		float:right;
		margin-top:15px;
	}
}
.logo{
	float:left;
	margin-top:20px;
}
.wrapper{
	margin:0 auto;
	padding:0 10px;
	width:960px;
}
.afix{
	position:fixed;
	left:50%;
	margin-left:-480px;
	padding:0;
}
.bottom{
	bottom:0;
	p{
		width:50%;
	}
}
.invite{
	display:block;
	margin-top:50px;
	p{
		margin-top:25px;
	}
}
.comingSoon{
	position:absolute;
	left:0;
	top:70px;
}
.footer-nav{
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin:0 5px;
	}
}
.inviteModal{
	display:none;
	color:#FFF;
	position:fixed;
	z-index:1000;
	padding:20px 10px 10px;
	background-color: rgba(0, 0, 0, 0.95);
	text-align: center;
	width:100%;
	height:100%;
	img{
		margin-bottom:10px;
	}
	h3,p{
		margin:10px auto;
		width:400px;
	}
}
form{
	width:400px;
	margin:0 auto;
	text-align: left;
	fieldset{
		border:none;
		padding:10px 0;
	}
	input{
		color:#000;
		width:100%;
		background: #FFF;
		padding:10px;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		border:1px solid #FFF;
		box-shadow: 0 0px 2px rgba(0, 0, 0,0.5) inset;
	}
	label{
		display:block;
		margin-bottom:5px;
	}
	.btn{
		font-weight: 700;
		width:60%;
		margin-top:20px;
	}
}
.explanation{
	width:400px;
	margin:0 auto;
	text-align: left;
	margin-top:20px;
	.explanationText{
		display:none;
	}
}
.modalCloseButton{
	position:absolute;
	top:20px;
	right:20px;
}

@media only screen
and (max-width : 480px) {
	.wrapper{
		text-align:center;
	}
	.comingSoon{
		display:none;
	}
	h1{
		font-size: 4em;
		margin:10px 0;
	}
	.inviteModal{
		p, h3, form, form .btn, .explanation{
			width:90%;
		}
	}
	.bottom{
		width:100% !important;
		p,nav{
			display:block;
			float:none;
			text-align: center;
			width:100%;
		}
		nav ul{
			padding:0;
		}
	}
}
@media only screen
and (max-width : 480px) {
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 1.2em;
	}
}

@media only screen
and (max-width : 768px) {
body{
	background: url(/public/img/landings/mobil-hotel-bg.jpg) no-repeat top center;
	min-height: 630px;
}
.btn-invite{
	font-size: 1em;
}
.comingSoon{
	width:100px;
	height:100px;
}
.wrapper{
	width:90%;
}
.afix{
	left:0;
	margin-left:0;
	padding:30px 10px;
	position:relative;
}
}
@media only screen
and (max-width : 1366px) {
body{
	background: url(/public/img/landings/small-hotel-bg.jpg) no-repeat top center;
}
}