.pre-stay-iframe, .digital-loyalty-program {

  .btn-facebook {
    .flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    svg {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1rem;
    }
    a {
      color: white;
    }
  }
  
  .animated {
    animation-duration: .4s;
  }
  font-size: 1.6em;
  @media (max-width: 320px) {
    font-size: 1.2em;
  }
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
  }

  background: white;

  footer {
    display: none;
  }

  .offer-img-bg {
    position: relative;
    height: 200px;

    .psi-logo {
      position: absolute;
      bottom: -50px;
      display: block;
      left: 50%;
      margin-left: -50px;
    }
    @media (max-width: 320px) {
      height: 100px;
    }
  }

  .text-offer, .text-user-cancelled, .text-user-permissions, .text-user-share, .text-user-not-shared, .ask-for-email {
    padding: 0 20px;
  }

  h2, h3 {
    margin-top: 75px;
  }

  h2 {
    @media (max-width: 320px) {
      font-size: 2.2rem;
    }
  }

  .ask-for-email {
    #fb-email {
      border: transparent;
      border-radius: 0;
      border-bottom: 1px solid lightgrey;
      box-shadow: none;
    }
  }
  @media (max-width: 320px) {
    .btn-lg {
      padding: 7px 9px;
      font-size: 16px;
    }
  }
}
