.redeem-email-campaign{
  font-size: 1.6em;
  color:white;
  .pro-tip{
    position: fixed;
    bottom: 10px;
    font-size: .8em;
    width: 100%;
    padding:0 20px;
    text-align: center;
  }
  footer{
    display:none;
  }
}