.satisfaction-survey, .satisfaction-survey-thanks {

  color: white;

  .modal {
    color: black;
  }

  .ss-bg-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
  }

  .satisfaction-text {
    margin-bottom: 80px;
  }

  .ui-slider {
    border: 1px solid white;
  }

  .slider {
    background: none;
    @media (min-width: 678px) {
      position: absolute;
      left: 50%;
      margin-left: -25%;
      width: 50%;
    }

    .ui-slider-handle {
      border: none;
      box-shadow: none;
    }

    .ui-slider-range {
      background: white;
    }

  }

  .anim1, .anim2, .anim3, .anim4, .anim5 {
    animation-duration: .2s;
  }

  .anim1 {
    animation-delay: .05s;
  }

  .anim2 {
    animation-delay: .1s;
  }

  .anim3 {
    animation-delay: .15s;
  }

  .anim4 {
    animation-delay: .18s;
  }

  .anim5 {
    animation-delay: .22s;
  }

  .btn-survey {
    margin-top: 50px;
  }

  footer {
    display: none !important;
  }

  .face_icon {
    position: absolute;
    top: -5.6rem
  }
  .icon_00 {
		left:0;
        margin-left:-16px;
  }

  .icon_25 {
    left:25%;
    margin-left:-16px;
  }

  .icon_50 {
    left:50%;
    margin-left:-16px;
  }

  .icon_75 {
    left:75%;
    margin-left:-16px;
  }

  .icon_100 {
    left:100%;
    margin-left:-16px;
  }

}