.alert-badge{
    position: absolute;
    padding: 6px;
    border-radius: 15px;
    top: 10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.8);
}
.user-navbar{
	background-color: white;
	margin-bottom: 0;
	margin-top:15px;
	border: 1px solid #d7d7d7;
}

.user-navbar .navbar-nav>.active>a, .user-navbar .navbar-nav>.active>a:hover, .user-navbar .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #65c3df;
}