//Colores corporativos
@azul: #65c3df;
@azul2:#00A7BC;
@azul3:#006E7C;
@azul4:#00363D;
@verde: #45b7af;
@grisOscuro: #9D9D9D;
@yellow: yellow;
@negro: #000;
@naranja: #ff6b6b;
@marron: #c7b299;
@twitter-color:#9AE4E8;
@facebook-color: #3B5998;
//Otros colores
@grisClaro: #D7D7D7;

@gdpr-success: #0eb30e;
@gdpr-cancel: #417c94;

//Bases
@basePadding: 10px;
@baseMargin: 10px;